<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <div class="nav-left">
      <span class="left-banner">Portfolio</span>
      <ul class="navbar-nav nav-links">
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#about'">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#references">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <span class="right-banner">Links</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
