<mat-toolbar>
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <button mat-icon-button fxHide.gt-sm
      (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <div class="nav-left">
      <span class="left-banner">
        <a class="head-link smooth-scroll"
          href="#welcome">Portfolio
        </a>
      </span>
      <ul class="navbar-nav nav-links" fxHide.lt-md>
        <li class="nav-item">
          <a class="nav-link smooth-scroll"
            href="#about'">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll"
            href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll"
            href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll"
            href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll"
            href="#references">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll"
            href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <button mat-button class="links-menu"
        [matMenuTriggerFor]="linksmenu">
        <mat-icon svgIcon="share">
        </mat-icon>
      </button>
      <mat-menu #linksmenu matMenu="menu">
        <mat-nav-list>
          <span *ngFor="let accountlink of accountLinks">
            <a mat-list-item target="_blank"
              href={{accountlink.redirect}}>
              <mat-icon class="nav-link"
                svgIcon="{{accountlink.name}}">
              </mat-icon> {{accountlink.display}}
            </a>
          </span>
<!--
          <span *ngFor="let theme of themeOptions">
            <button mat-list-item (click)="">
            </button>
          </span>
-->
        </mat-nav-list>
      </mat-menu>
      <button mat-button class="opts-menu"
        [matMenuTriggerFor]="optsmenu">
        <mat-icon svgIcon="services">
        </mat-icon>
      </button>
      <mat-menu #optsmenu matMenu="menu">
        <mat-nav-list>
          <span *ngFor="let accountlink of accountLinks">
            <a mat-list-item target="_blank"
              href={{accountlink.redirect}}>
              <mat-icon class="nav-link"
                svgIcon="{{accountlink.name}}">
              </mat-icon> {{accountlink.display}}
            </a>
          </span>
        </mat-nav-list>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
