<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="side">
    <mat-nav-list>
      <a mat-list-item href="#about">About</a>
      <a mat-list-item href="#skills">Skills</a>
      <a mat-list-item href="#experience">Experience</a>
      <a mat-list-item href="#projects">Projects</a>
      <a mat-list-item href="#references">References</a>
      <a mat-list-item href="#contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="portfolio-content">
      <app-welcome></app-welcome>
      <app-about></app-about>
      <app-experience></app-experience>
      <app-skills></app-skills>
      <app-projects></app-projects>
      <app-references></app-references>
      <app-contact></app-contact>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
